/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 20px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 2rem;
  text-align: center;
  background-color: #080835;
  color: white;
}

.header h1 {
  font-size: 2rem;
}

.div-2d,
.div-3d {
  height: 400px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 3rem;
  margin-top: 2rem;
  padding: 2rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.div-2d:hover .cube2d {
  -webkit-animation-name: twoBlock;
          animation-name: twoBlock;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes twoBlock {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes twoBlock {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.cube2d {
  position: relative;
  margin: 3rem;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.side2d {
  height: 95px;
  position: absolute;
  width: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top2d {
  background: #9acc53;
  -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
          transform: rotate(-45deg) skew(15deg, 15deg);
}

.left2d {
  background: #9acc53;
  -webkit-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
          transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.right2d {
  background: #9acc53;
  -webkit-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
          transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

.cube-container {
  height: 200px;
  -webkit-perspective: 300;
          perspective: 300;
  position: relative;
  width: 200px;
  margin: 10rem;
}

.cube {
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
}

.side {
  background: rgba(45, 179, 74, 0.3);
  border: 2px solid #2db34a;
  height: 196px;
  position: absolute;
  width: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
          transform: rotateX(180deg) translateZ(100px);
}

.left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
}

.right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

.top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

.cube-container:hover .cube {
  -webkit-animation-name: threeanimation;
          animation-name: threeanimation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes threeanimation {
  0% {
    -webkit-transform: perspective(600px) rotateX(0deg);
            transform: perspective(600px) rotateX(0deg);
  }
  10% {
    -webkit-transform: perspective(600px) rotateX(90deg);
            transform: perspective(600px) rotateX(90deg);
  }
  20% {
    -webkit-transform: perspective(600px) rotateX(180deg);
            transform: perspective(600px) rotateX(180deg);
  }
  30% {
    -webkit-transform: perspective(600px) rotateX(270deg);
            transform: perspective(600px) rotateX(270deg);
  }
  40% {
    -webkit-transform: perspective(600px) rotateX(360deg);
            transform: perspective(600px) rotateX(360deg);
  }
  50% {
    -webkit-transform: perspective(600px) rotateY(90deg);
            transform: perspective(600px) rotateY(90deg);
  }
  60% {
    -webkit-transform: perspective(600px) rotateY(180deg);
            transform: perspective(600px) rotateY(180deg);
  }
  70% {
    -webkit-transform: perspective(600px) rotateY(270deg);
            transform: perspective(600px) rotateY(270deg);
  }
  80% {
    -webkit-transform: perspective(600px) rotateY(360deg);
            transform: perspective(600px) rotateY(360deg);
  }
  90% {
    -webkit-transform: perspective(600px) rotateZ(90deg);
            transform: perspective(600px) rotateZ(90deg);
  }
  100% {
    -webkit-transform: perspective(600px) rotateZ(180deg);
            transform: perspective(600px) rotateZ(180deg);
  }
}

@keyframes threeanimation {
  0% {
    -webkit-transform: perspective(600px) rotateX(0deg);
            transform: perspective(600px) rotateX(0deg);
  }
  10% {
    -webkit-transform: perspective(600px) rotateX(90deg);
            transform: perspective(600px) rotateX(90deg);
  }
  20% {
    -webkit-transform: perspective(600px) rotateX(180deg);
            transform: perspective(600px) rotateX(180deg);
  }
  30% {
    -webkit-transform: perspective(600px) rotateX(270deg);
            transform: perspective(600px) rotateX(270deg);
  }
  40% {
    -webkit-transform: perspective(600px) rotateX(360deg);
            transform: perspective(600px) rotateX(360deg);
  }
  50% {
    -webkit-transform: perspective(600px) rotateY(90deg);
            transform: perspective(600px) rotateY(90deg);
  }
  60% {
    -webkit-transform: perspective(600px) rotateY(180deg);
            transform: perspective(600px) rotateY(180deg);
  }
  70% {
    -webkit-transform: perspective(600px) rotateY(270deg);
            transform: perspective(600px) rotateY(270deg);
  }
  80% {
    -webkit-transform: perspective(600px) rotateY(360deg);
            transform: perspective(600px) rotateY(360deg);
  }
  90% {
    -webkit-transform: perspective(600px) rotateZ(90deg);
            transform: perspective(600px) rotateZ(90deg);
  }
  100% {
    -webkit-transform: perspective(600px) rotateZ(180deg);
            transform: perspective(600px) rotateZ(180deg);
  }
}
/*# sourceMappingURL=style.css.map */